WSApplicationWeb/Connected Services/WSPersonas/WSPersonas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MiWS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MiWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Personas">
    <xs:sequence>
      <xs:element minOccurs="0" name="Apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentoIdentificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Edad" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Personas" nillable="true" type="tns:Personas" />
  <xs:complexType name="ArrayOfPersonas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Personas" nillable="true" type="tns:Personas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonas" nillable="true" type="tns:ArrayOfPersonas" />
</xs:schema>