WSApplicationWeb/Connected Services/WSPersonas/WSPersonas2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50511/WSPersonas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MiWS" />
  <xs:element name="NuevaPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MiWS" minOccurs="0" name="persona" nillable="true" type="q1:Personas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NuevaPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="NuevaPersonaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MiWS" minOccurs="0" name="persona" nillable="true" type="q2:Personas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EditarPersonaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPersona" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EliminarPersonaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarPersona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idPersona" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buscarPersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MiWS" minOccurs="0" name="buscarPersonaResult" nillable="true" type="q3:Personas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarPersonas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarPersonasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MiWS" minOccurs="0" name="listarPersonasResult" nillable="true" type="q4:ArrayOfPersonas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>